# ================================================================ #
# ===========================    GUI     ========================= #
# ================================================================ #
streamlit


# ================================================================ #
# =========================     Plots    ========================= #
# ================================================================ #
matplotlib
scipy
seaborn

# ================================================================ #
# =========================     Torch    ========================= #
# ================================================================ #

# pip install torch torchvision --index-url https://download.pytorch.org/whl/cu128

# torch
# torchvision

pyro-ppl